
*{
    margin:0 auto;
    background-color: rgb(245,248,255);
}

/* Navbar Styling */
.main-header{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 40px;
}
.header{
    margin-top: 40px;
}
.header-title{
  color:blue;
}

.bat-primary{
    background-color: blue;
    padding:10px 20px;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    width: 0px 10px;
    border:none;
    cursor:pointer;
    text-align: center;
}
.bat-primary:hover{
    background-color: aqua;
    color:green;
}
.bag-img{
    background-image:url(imges/Hero-bg.png);
    width: 1200px;
    height: 500px;
}
/* start banner section style */
.banner{
    justify-content: space-around;
    margin-top:40px;
    text-align: center;
}
.banner h1{
    width: 300px;
    margin-top:100px;
    width:bold;
  
}
.main-banner{
    justify-content: space-around;
    margin-top: 100px;
   
}
/* start Action Section style*/
.main-action{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    gap:2rem;
    padding:2rem;
    
}
.action{
   
}
.action img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 34px;
}
.action-title{
    margin-top:20px;

}
.action-des{
    margin-top:20px;

}
.bat-primary2{
    background-color: blue;
    padding:10px 20px;
    color:white;
    border-radius: 10px;
    font-weight: bold;
    width: 0px 10px;
    border:none;
    cursor:pointer;
    text-align: center;
    margin-top:20px;
}

.total-productive {
    text-align: center;
    margin: 0 auto;
    padding: 4rem 2rem;
    background-color: rgb(229, 231, 255);
    max-width: 900px; 
    border-radius: 20px;
}

.productive-header {
    text-align: center;
    margin-bottom: 2rem;
}

.title-productive {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    background-color: rgb(229, 231, 255);
}

.main-productive {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    background-color: rgb(229, 231, 255); 
}

.productive {
    text-align: center;
    max-width: 200px;
    flex: 1 1 150px;
    background-color: rgb(229, 231, 255);
}

.bold-text {
    font-size: 2rem;
    font-weight: bolder;
    color: blue;
    background-color: rgb(229, 231, 255);
}
.productive-dec{
    background-color: rgb(229, 231, 255);
}

.main-section{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
    
}
.touch-section{
    width: 50%;
    justify-content: space-around;
    
}

section input[type="text"],  section input[type="email"], section textarea{
    height: 20px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    border: none;
}
.touch-btn{
    width:100%;
    background-color:blue;
    border-radius: 5px;
    padding:10px;
    margin:none;
}
.touch-btn:hover{
    color:white;
}
.touch-title{
    margin:20px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
    font-family: Arial, sans-serif;
}

.footer-title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    
}

.footer-des {
    font-size: 16px;
    max-width: 600px;
    color: #444;
    margin-bottom: 20px;
}

.menu-footer {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:rgb(245,248,255);
}

.menu-footer li {
    display: inline-block;
    margin: 0 15px;
    
}

.menu-footer a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    
}

.menu-footer a:hover {
    color: #007BFF;
}


.card2{
    display:flex;
}
section{
    display:flex;
    justify-content: center;
    padding: 50px 20px;
}
.main-card{
    display:flex;
}